@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

// COLORS
$tealBlue: #044A53;
$tealBlueHover: #033137;
$logoBlue: #1497AB;
$foamBlue: #D9F9FD;
$hurricane: #918383;
$mineshaft: #323232;
$blueRibbon: #0070EB;
$sativaBurgundy: #78070D;
$indicaBlue: #1000CE;
$hybridYellow: #FAFF00;
$alibaster1: #F7F7F7;
$alibaster2: #01B5CD;
$cerulean: #01B5CD;

