@import './imports.scss';

.main-navigation {
    width: 100%;
    font-family: Roboto;

    .navigation-items {
        display: flex;
        flex-shrink: 1;
        justify-content: space-between;
        @media (max-width: $hamburger) {
            flex-flow: column nowrap;
        }

        button {
            background-color: $tealBlue;
            margin-left: 10px;
            border: none;
            font-size: 16px;
            height: 36px;
            padding: 0 20px;
        }

        .search-container {
            margin-left: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $hamburger) {
                justify-content: flex-start;
            }

            .search-form{
                margin-right: 20px;

                .search-input {
                    height: 36px;
                    font-size: 16px;

                }
    
                .search-button {
                    background-color: $logoBlue;
                    margin-left: 0;
                    @media (max-width: $large) {
                        display: none;
                    }
                    @media (max-width: $hamburger) {
                        display: inline-block;
                    }
                }
            }

            .navLink {
                margin-right: 10px;
                color: $tealBlue;
                font-size: 14px;
            }
        }
        
        .user-links-container {
            display: flex;
            justify-content: flex-end;

            @media (max-width: $hamburger) {
                display: none;
            }

            .search-links{
                display: flex;
                margin-right: 40px;
                
                .search-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .user-links {
                display: flex;
    
                .navLink {
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    color: $tealBlue;
                    font-weight: bold;
                    font-size: 14px;
                    margin-left: 10px;
                    white-space: nowrap;

                    button {
                        font-size: 12px;
                    }

                }
            }
        }

        .hamburger-links-container {
            display: none;

            @media (max-width: $hamburger) {
                display: block;
                margin-top: 10px;
            }

            button {
                margin: 0;
                margin-bottom: 5px;
            }

        }



    }
}